/* /\* ================================================================== */
/*     VARIABLES */
/* ================================================================== *\/ */

:root {
    --background: "white";
    --primary-color: #1c1c1c;
    --secondary-color: #137cb9;

}


html {

    font-family: Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",serif;
    /* font-size: 18px; */
    color: #1c1c1c;
    -webkit-font-smoothing:antialiased;

}


.franklin-content .page-foot a {
  text-decoration: none;
  color: #a6a2a0;
  text-decoration: underline;
}

.page-foot {
  font-size: 80%;
  font-family: Arial, serif;
  color: #a6a2a0;
  text-align: center;
  margin-top: 6em;
  border-top: 3px solid lightgrey;
  padding-top: 2em;
  margin-bottom: 2em;
}


.franklin-content table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

.franklin-toc ol ol {
  list-style-type: lower-alpha;
}

.franklin-content th,
td {
  font-size: var(--small);
  padding: 10px;
  border: 1px solid black;
}

.franklin-content blockquote {
  background: var(--block-background);
  border-left: 7px solid #a8a8a8;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

.franklin-content blockquote p {
  display: inline;
}

/* /\* ================================================================== */
/*     GENERAL FORMATTING */
/* ================================================================== *\/ */

/* Spacing between bullet points. */
.franklin-content li p {
  margin: 10px 0;
}

.franklin-content a {
  color: black;
  /* text-decoration: none; */
}

/* /\* ================================================================== */
/*     HYPERREFS AND FOOTNOTES */
/* ================================================================== *\/ */

.franklin-content .eqref a { color: green; }
.franklin-content .bibref a { color: green; }

.franklin-content sup {
  font-size: 70%;
  vertical-align: super;
  line-height: 0;
}

.franklin-content table.fndef {
  margin: 0;
  margin-bottom: 10px;
}

.franklin-content .fndef tr,
td {
  padding: 0;
  border: 0;
  text-align: left;
}

.franklin-content .fndef tr {
  border-left: 2px solid lightgray;
}

.franklin-content .fndef td.fndef-backref {
  vertical-align: top;
  font-size: 70%;
  padding-left: 5px;
}

.franklin-content .fndef td.fndef-content {
  font-size: 80%;
  padding-left: 10px;
  width: 100%;
}

/* /\* ================================================================== */
/*     IMAGES in CONTENT */
/* ================================================================== *\/ */

.franklin-content img {
    /* width: 70%; */
    max-height: 500px;
    max-width: 70%; 
    text-align: center;
  /* padding-left: 10%; */
}

.franklin-content .img-small img {
  width: 50%;
  text-align: center;
  padding-left: 20%;
}

/* /\* ================================================================== */
/*     KATEX */
/* ================================================================== *\/ */

body { counter-reset: eqnum; }

.katex { font-size: 1em !important; }

.katex-display .katex {
  /* Overwrite KaTeX settings. */
  display: inline-block;

  /* Allow display equations to wrap on small screens. */
  white-space: normal;
}

.katex-display::after {
  counter-increment: eqnum;
  content: "(" counter(eqnum) ")";
  position: relative;
  float: right;
  padding-right: 5px;
}

.nonumber .katex-display::after {
  counter-increment: nothing;
  content: "";
}

/* /\* ================================================================== */
/*     CODE & HIGHLIGHT.JS */
/* ================================================================== *\/ */

code {
  background-color: var(--block-background);
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: var(--small);
}

.hljs {
  font-size: var(--small);
  line-height: 1.35em;
  border-radius: 10px;
}

.hljs-meta { font-weight: bold;}

.hljs-meta.shell_ {color: crimson;}
.hljs-meta.prompt_ {color: rgb(25, 179, 51);}

.code-output {
  background: var(--output-background);
  border: 1px dashed #dbdbdb;
}

/* /\* ================================================================== */
/*     BOXES */
/* ================================================================== *\/ */

.franklin-content .colbox-blue {
  background-color: #eef3f5;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0 10px 10px 0;
  border-left: 5px solid #4c9cf1;
}


@font-face {
  font-family: 'Iosevka YMHG Web';
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url('/fonts/iosevka-ymhg-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka YMHG Web';
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url('/fonts/iosevka-ymhg-mediumitalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka YMHG Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url('/fonts/iosevka-ymhg-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka YMHG Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url('/fonts/iosevka-ymhg-bolditalic.woff2') format('woff2');
}

body {
    background-color: #dfddda;
    color: #171d30;
}

.generated-by {
  color: #505561;
}

a {
  color: #171d30;
}

nav a, .logo a, .post-title a, .social a, .rightcolumn a, dt a {
  color: #171d30;
}

nav a:hover, .logo a:hover, .post-title a:hover, .social a:hover, .rightcolumn a:hover, dt a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

th {
  color: #171d30;
  border-bottom: 0.1rem solid #60646b;
}

.codeblock {
  background-color: #fdf6e3;
}

.post-meta {
  color: #505561;
}

h1:hover > .heading-anchor1, h2:hover > .heading-anchor2, h3:hover > .heading-anchor3, h4:hover > .heading-anchor4, h5:hover > .heading-anchor5, h6:hover > .heading-anchor6 { color: var(--secondary-color); }


html {
  font-family: /*'EBGaramond',*/ "Iowan Old Style", "Apple Garamond", "Baskerville", "Droid Serif", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-size: 1.2rem;
  line-height: 1.3;
  width: 90%;
  margin: 0;
  padding: 0 0%;
}

.center > .content {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0.5em;
  hyphens: auto;
}

header {
  border-bottom: 0.3rem solid var(--secondary-color);
}

#navbar {
  text-align: right;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.3rem solid var(--secondary-color);
}

dt, .news-date {
  font-family: 'Iosevka YMHG Web', monospace;
  font-size: 1rem;
  font-weight: bold;
}

dt { font-size: 1.2rem; }

a:hover {
    color: var(--secondary-color);
}

.generated-by a { font-size: 0.8rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Iosevka YMHG Web', monospace;
  margin: 0px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-size : 100%;
  text-decoration: none;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.7rem;
  margin-top: 2rem;
  border-bottom: 0.2rem solid var(--secondary-color);
}

h3 {
  margin-top: 1.5rem;
}

code {
  font-family: 'Iosevka YMHG Web', monospace;
  font-size: 16px;
}

pre {
  white-space: pre;
  overflow: auto;
}

figcaption {
  font-size: 0.9rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption * {
  font-size: 0.9rem;
}

table {
  border-spacing: 0;
  /* width: 100%; */
  border-bottom: 0.15rem solid #171d30;
  border-top: 0.15rem solid #171d30;
  margin: 30px 0;
}

th, td {
  padding: 5px 15px 5px 15px;
  text-align: left;
  
}

dd {
  margin-bottom: 15px;
}

dl {
  margin: 30px 0;
}

#navbar a, .logo a {
  font-family: 'Iosevka YMHG Web', monospace;
  font-size: 1.3rem;
  font-weight: 800;
  text-decoration: none;
}

#navbar span {
  padding-left: 2em;
}

.generated-by p {
  font-family: "Iosevka YMHG Web", monospace;
  font-size: 0.8rem;
  line-height: 0.8em;
  text-align: right;
}

.social {
  line-height: 0;
  text-align: center;
}

.heading-anchor1 {
  text-decoration: none;
  float: left;
  padding-right: 0.5em;
  margin-left: -1.5em;
  margin-top: 0.2em;
  line-height: 1;
}

.heading-anchor1:hover {
  text-decoration: underline;
}

.heading-anchor2 {
  text-decoration: none;
  float: left;
  padding-right: 0.5em;
  margin-left: -1.5em;
  margin-top: 0.2em;
  line-height: 1;
}

.heading-anchor2:hover {
  text-decoration: underline;
}

.heading-anchor3 {
  text-decoration: none;
  float: left;
  padding-right: 0.5em;
  margin-left: -2em;
  margin-top: 0.2em;
  line-height: 1;
}

.heading-anchor3:hover {
  text-decoration: underline;
}

.heading-anchor4 {
  text-decoration: none;
  float: left;
  padding-right: 0.5em;
  margin-left: -2em;
  margin-top: 0.4em;
  line-height: 1;
}

.heading-anchor4:hover {
  text-decoration: underline;
}

.heading-anchor5 {
  text-decoration: none;
  float: left;
  padding-right: 0.5em;
  margin-left: -2em;
  margin-top: 0.4em;
  line-height: 1;
}

.heading-anchor5:hover {
  text-decoration: underline;
}

.heading-anchor6 {
  text-decoration: none;
  float: left;
  padding-right: 0.5em;
  margin-left: -2em;
  margin-top: 0.4em;
  line-height: 1;
}

.heading-anchor6:hover {
  text-decoration: underline;
}

#TableOfContents {
  line-height: 1.3;
  margin-left: 1em;
  font-family: 'Iosevka YMHG Web', monospace;
  font-size: 0.7em
}

#TableOfContents ul {
  padding-left: 1.5em;
}

#TableOfContents > ul {
    list-style-type: "** ";
}

#TableOfContents > ul > li > ul {
    list-style-type: "*** ";
}

#TableOfContents > ul > li > ul > li > ul {
    list-style-type: "**** ";
}

#TableOfContents li {
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

#TableOfContentsTitle {
  margin-left: 1em;
  font-family: 'Iosevka YMHG Web', monospace;
}

.tagcloud {
  margin-left: 1em;
}

.codeblock {
  border-radius: 10px;
  margin: 0;
  padding: 0.1rem 1rem;
}

.news {
  border: 0px;
}

.bib {
  border-bottom: none;
  border-top: none;
  font-size: 0.9rem;
}

.bib tr {
  vertical-align: text-top;
}

.bib td {
  padding: 5px 10px 5px 10px;
}

.bibnum {
  font-weight: bold;
}

.post-meta {
  font-size: 0.9rem;
  font-style: italic;
}

.post-title > a {
  font-weight: bold;
  font-family: 'Iosevka YMHG Web', monospace;
  font-size: 1.3rem;
  text-decoration: none;
}

.post-display {
  margin: 30px 0px;
}

.profile-picture {
  margin: 0px 30px 30px 0px;
  float: left;
  max-width: 200px;
}

.profile-picture > img {
  border-radius: 50%;
}

.personal-info {
  float: left;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.gallery-column {
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.gallery-1 { display: none; }
.gallery-2 { display: none; }
.gallery-4 { display: block; }

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 600px) {

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  img {
    width: 100%;
  }

  figcaption {
    width: 100%;
  }

  .generated-by {
    text-align: center;
  }

  .logo {
    text-align: center;
    margin: 0rem auto 0.5rem;
  }

  .logo a {
    font-size: 1.5rem;
  }

  #navbar a {
    display: inline;
    margin: 0 0.6rem;
  }

  .profile-picture {
    float: none;
    display: block;
    margin: 0px auto 20px auto;
    width: 70%;
  }

  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }

  .gallery-1 { display: block; }
  .gallery-2 { display: none; }
  .gallery-4 { display: none; }

  #navbar span {
    padding-left: 0;
  }

  .post-meta {
      margin-bottom: 1.5rem;
  }

  .post-display .post-meta {
    text-align: left;
  }

  .heading-anchor1, .heading-anchor2, .heading-anchor3, .heading-anchor4, .heading-anchor5, .heading-anchor6 {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 992px) {

  body {
    max-width: 70rem;
    /* margin: 0 auto; */
    /* width: 85%; */
  }

  .center > article {
    max-width: 45rem;
    margin: 3rem auto;
    padding: 0;
  }
  
  img {
    width: 100%;
  }

  figcaption {
    width: 100%;
  }

  .generated-by {
    text-align: right;
  }

  .logo {
    margin: 0;
    text-align: left;
  }

  .logo a {
    float: left;
    font-size: 1.3rem;
  }

  .profile-picture {
    border-radius: 50%;
    float: left;
    max-width: 200px;
    margin: 0px 30px 30px 0px;
  }

  .gallery-column {
    flex: 50%;
    max-width: 48%;
  }

  .gallery-1 { display: none; }
  .gallery-2 { display: block; }
  .gallery-4 { display: none; }
}

@media (min-width: 993px) {

  body {
    max-width: 60rem;
    /* margin: 0 auto; */
  }

  .center > article {
    width: 45rem;
    margin: 3rem auto;
    padding: 0;
  }


  figcaption {
    width: 100%;
  }
  
  .generated-by {
    text-align: right;
  }

  .logo {
    margin: 0;
    text-align: left;
  }

  .logo a {
    float: left;
    font-size: 1.3rem;
  }

  .profile-picture {
    border-radius: 50%;
    float: left;
    max-width: 200px;
    margin: 0px 30px 30px 0px;
  }

  .container {
    display: flex;
  }

  .flex {
    flex: 1;
  }

  .left div {
    margin-left: auto;
    margin-right: 50px
  }

  .right div {
    margin-right: auto;
    margin-left: 50px;
  }

  .leftcolumn, .rightcolumn {
    width: 10rem;
  }
}

.icon {
  width: 1rem;
  display: inline;
  filter: contrast(70%);
}

.icon:hover {
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(110deg) brightness(80%);
}



body {
  margin-top: 20px;
}

.card {
  border: none;
}
.card-img {
  border-radius: 0;
}

.vgr-cards {
  .card {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    margin-bottom: 40px;

    &:nth-child(even) .card-img-body {
      order: 2;
    }

    &:nth-child(even) .card-body {
      padding-left: 0;
      padding-right: 1.25rem; 
    }
    
    @media (max-width: 576px) {
      display: block;
    }
    
  }

  .card-img-body {
    flex: 1;
    overflow: hidden;
    position: relative;
    
    @media (max-width: 576px) {
      width: 100%;
      height: 200px;
          margin-bottom: 20px;
    }
    
  }
  
  .card-img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    
    @media (max-width: 1140px) {
          margin: 0;
    transform: none;
    width: 100%;
    height: auto;
    }
    
  }

  .card-body {
    flex: 2;
    padding: 0 0 0 1.25rem;
    
    @media (max-width: 576px) {
      padding: 0;
    }
    
  }
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
    margin: 0 auto; 
}


